@model MovieApp.Domain.DTO.AddToOrderDTO

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Add to cart for movie @Model.ticket.Movie.MovieName</h2>
<form asp-action="AddToCart">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ticketId" />
    <div class="form-group">
        <label asp-for="quantity" class="control-label"></label>
        <input asp-for="quantity" class="form-control" />
        <span asp-validation-for="quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
