@{
    ViewData["Title"] = "Home Page";
}

<head>
    
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <p class="font-weight-bold">Testing</p>
        <p class="font-monospace"></p>
    </div>
</body>

